<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
</head>
<body>
  <div class="container">
    <h2>회원가입</h2>
    <form action="{{ url_for('auth.signup') }}" method="POST">
      <label for="id">아이디</label>
      <input type="text" id="id" name="id" required>

      <label for="name">이름</label>
      <input type="text" id="name" name="name" required>

      <label for="school">학교</label>
      <input type="text" id="school" name="school" required>

      <label for="birthdate">생일</label>
      <input type="date" id="birthdate" name="birthdate" required>

      <label for="password">비밀번호</label>
      <input type="password" id="password" name="password" required>

      <label for="confirm_password">비밀번호 확인</label>
      <input type="password" id="confirm_password" name="confirm_password" required>

      <button type="submit">회원가입</button>
    </form>
    <p class="login-link">
        이미 계정이 있으신가요? <a href="{{ url_for('auth.login') }}">로그인</a>
    </p>
  </div>
</body>
</html>
