<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <!-- CSS 파일 불러오기 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/write.css') }}">
</head>
<body>

<div class="container">
    <h1>글쓰기</h1>
    <!-- 게시글 작성 폼 -->
    <form action="{{ url_for('board.write') }}" method="POST" enctype="multipart/form-data">
        <label for="title">제목</label>
        <input type="text" id="title" name="title" required>

        <label for="file">파일</label>
        <input type="file" id="file" name="file">

        <label for="content">내용</label>
        <textarea id="content" name="content" rows="5" required></textarea>

        <div class="buttons">
            <button type="submit" class="button">등록</button>
            <!-- 취소시 다시 게시판으로 -->
            <a href="{{ url_for('board.board') }}" class="button cancel">취소</a>
        </div>
    </form>
</div>

</body>
</html>